/* CSS DE LA PAGINA PRINCIPAL */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F0F8FF;
}

.contenedor__main{
    text-align: center;
}

img{
    padding: 4px;
    padding-top: 25px;
    padding-bottom: 60px;
}

.imagen__1{
    width: 500px;
    height: 100%;
    object-fit: cover;
}

.imagen__2{
    width: 443px;
    height: 100%px;
    object-fit: cover;
}

.imagen__3{
    width: 500px;
    height: 100%;
    object-fit: cover;
}

