body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}


.footer__pie{
    padding: 30px;
    background-color: rgb(11, 116, 116);
    text-align: center;
    color: azure;
    font-size: 19px;
}


