


.contenedor__main { 
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-bottom: 100;
flex: 1;

margin-top: 50px; /*Abajo*/
}
.pie-página{ 
    padding: 0;
    padding-right: 35px;
    background-color: rgb(22,120, 120,0.89);
    text-align: center;
    color: azure;
    font-size: 19px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}    
.contenedor-imagenes {
        display: flex;
        margin-top: 80px; /*Abajo*/
    }
    .img{ 
        width: 100%;
        height: 300px;
        padding: 4px;
        margin-top: 60px;
        margin-bottom: 85px;
    }
    .imagen_1{
        width: 500px;
        height: 100%;
        margin-left: 90px;
    }
    
    .imagen_2{
        width: 333px;
        height: 100%;
        margin-bottom: 400px;
    }
    .espacio { 
        width: 2300px;
    }
    

    .parrafo{ 
    margin-left: 0%;
    margin-top: 350px; /*Abajo*/
    margin-left: -350px;
    text-justify: distribute;    }
     .Contenedor{
       margin-left: 100px;
       position: relative;
       top: -90px;
     }
    
    
    
    